{% extends 'base.html' %}
{% block content %}
<h2 class="text-xl font-bold mb-4">Registro</h2>
<form method="POST" class="space-y-4">
  <input class="border p-2 w-full" type="text" name="username" placeholder="Usuario" required>
  <input class="border p-2 w-full" type="email" name="email" placeholder="Correo" required>
  <input class="border p-2 w-full" type="password" name="password" placeholder="Contraseña" required>
  <button class="bg-green-500 text-white px-4 py-2" type="submit">Registrarse</button>
</form>

<a href="{{ url_for('main.login_route') }}">Iniciar sesión</a>
{% endblock %}
